gprof2html.py
HyperspaceExplorer-Makefile.mk
Makefile-HyperspaceExplorer.mk
Debug
functions.sh
a.out
HyperspaceExplorer
*.tar.bz2
.settings
gprof.out.html
lib
Grav.4d
HyperspaceExplorer SVN.iml
_formulas.*
gprof.out
gmon.out
core
TestFactory.C
archive
nbproject
timing
HyperspaceExplorer.[!p]*
.dep.inc
FunctionMapTest.C
Makefile
doc
dir.sh
*.o
HyperspaceExplorer-tests
*.kdev4

/dist/
/build/
tmp/
.kdev4/
